@import "../../mixins";

.post-item {
  $post-spacing: 15px;

  display: flex;
  align-items: center;
  margin-top: $post-spacing;
  min-height: 50px;

  &__rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: $post-spacing;
  }

  @include vote-buttons($vote-arrow-size: 10px);

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__details,
  &__comment-count {
    font-size: 12px;
    color: #888;
  }

  &__details {
    padding-top: 6px;
  }

  &__comment-count {
    font-weight: bold;
  }

  &__external-url-domain {
    margin-left: 6px;
    color: #888;
    font-size: 10px;

    &:before {
      content: "(";
    }

    &:after {
      content: ")";
    }
  }
}
